{% load static %}

<title>
    {% block page_title %}{% endblock %}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="DocSend Scraper Project">
<meta name="author" content="George Navarro">

<link rel="shortcut icon" href="">

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/font-awesome-5.min.css' %}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">